.benefits-section {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 150px;
}

.benefits-title {
  font-family: var(--font-family-heading);
  color: var(--secondary-color);
  font-size: var(--header-font-size-xlarge);
  margin-bottom: 132px;
}

.benefits-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}
